[user]
  name = James
  email = soapman@zoho.com

[pull]
  ff = only

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[merge]
  tool = vimdiff

[gui]
  fontdiff = -family Consolas     -size 14 -weight normal -slant roman -underline 0 -overstrike 0
  fontui   = -family \"Segoe UI\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0

